body {overflow-x: hidden;}
/*通用*/
.margin-bottom-0{margin-bottom:0px ;}
.padding-tb{padding:0.5rem 0.8rem;}
/* nav */
.top-bar, .top-bar ul {
    background-color: #2c3840; 
}
/*.top-bar .top-bar-left .menu .menu-text{color:rgb(255, 255, 255);}*/
/*菜单下行线 使用方式 div增加.hover-underline-menu 以及属性 data-menu-underline-from-center*/
.hover-underline-menu {
    width: 100%;
  }
  
  .hover-underline-menu .menu {
    background-color: #2C3840;
  }
  
  .hover-underline-menu .menu a {
    color: #fefefe;
    padding: 0.8rem 1.5rem;
  }
  
  .hover-underline-menu .menu .underline-from-center {
    position: relative;
  }
  
  .hover-underline-menu .menu .underline-from-center::after {
    content: "";
    position: absolute;
    top: calc(100% - 0.125rem);
    border-bottom: 0.125rem solid #fefefe;
    left: 50%;
    right: 50%;
    transition: all 0.5s ease;
  }
  
  .hover-underline-menu .menu .underline-from-center:hover::after {
    left: 0;
    right: 0;
    transition: all 0.5s ease;
  }
  /*菜单下行线*/
  
